.ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.li {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

    width: 20%;
    height: 400px;
    margin: 0 1.5%;
    padding: 10px;
    border: 5px solid var(--border);
    border-radius: 5%;
    transition: .2s;

}

.li input {
    width: 70px;
    text-align: end;
}

.li p{
    height: 0px;
}

.li div {
    color: var(--title);
    font-size: 5vw;
}

.li div p {
    font-size: 0.4em;
}

.select {
    width: 150px;
    margin: 0 auto;
}

.equal {
    display: flex;
    flex-direction: column;
    margin-top: -45px;
    justify-content: center;
    font-size: 5em;
    line-height: 30px;
}

.factContainer {
    /* border: 4px lime solid; */
    text-align: center;
    color: var(--title);
    font-size: large;
    font-weight: bold;
    margin: 10px 7vw;
}

.factContainer i {
    position: relative;
    top: 10px;
    font-size: 2em;
    color: var(--border);
    transition: .2s;
    /* border: 4px rgb(229, 255, 0) solid; */
}

.factContainer i:hover{
    cursor: pointer;
    font-size: 2.5em;
}

@media screen and (max-width: 970px) {
    .ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px auto;
        height: 50vh;
    }
    
    .li {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
    
        width: 90vw;
        height: 20vh;
        margin: 0 auto;
        padding: 0px;
        border: 5px solid var(--border);
        border-radius: 5%;
        transition: .2s;
    
    }
    
    .li input {
        width: 70px;
        padding: 5px;
        text-align: end;
    }
    
    .li p{
        height: 0px;
    }
    
    .li div {
        color: var(--title);
        font-size: 5vh;
    }
    
    .li div p {
        font-size: 0.4em;
    }
    
    .select {
        width: 150px;
        padding: 5px 0;
        margin: 0 auto;
    }
    
    .equal {
        display: flex;
        flex-direction: column;
        transform: translateY(-50%);
        justify-content: center;
        font-size: 3em;
        line-height: 15px;
        margin: 0 auto;
    }
  }